* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.main {
  min-height: 80vh;
  max-width: 120rem;
  margin: 0 auto;
}

/* homescreen */
h1 {
  font-size: 1.125rem !important;
  text-align: left !important;
  text-decoration: none !important;
}
h2 {
  font-size: 0.875rem !important;
  text-align: left !important;
}
.img-fluid {
  height: 6.25rem;
}
.big-img {
  height: 25rem !important;
}
