* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.main {
  min-height: 80vh;
  max-width: 120rem;
  margin: 0 auto;
}
h1 {
  font-size: 1.8 rem !important;
  padding: 1rem 0;
}
h2 {
  font-size: 1rem !important;
  padding: 0.5rem 0;
}
h3 {
  font-size: 0.9rem !important;
  padding: 1rem 0;
}
span {
  margin: 0 0.7rem;
}
.filter {
  width: 80%;
  margin: 2rem auto;
}
.content {
  margin-left: 1rem;
  font-weight: bold;
}
.title {
  font-size: 0.7rem;
}
.title-site {
  font-style: italic;
  letter-spacing: 0.5rem;
}
.yellow {
  color: yellow;
  font-size: 2rem;
}
